# --- Python Standard ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
env/
.env
.venv/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

data/*

# Eccezioni: non ignorare mai i file .gitkeep
!data/.gitkeep

!data/raw/
data/raw/*
!data/raw/.gitkeep

!data/processed/
data/processed/*
!data/processed/.gitkeep

# Configurazione VS Code
.vscode/

logs/
output_training.txt
reports/
test_pcap/
sniff_results/